.actions{
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
}
.all {
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05)), #FFFBFE;
    border-radius: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 40px;
    padding: 10px 24px;
    margin-right: 16px;
    border: none;
}

.toDo {
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05)), #FFFBFE;
    border-radius: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 40px;
    padding: 10px 24px;
    margin-right: 16px;
    border: none;
}

.done{
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05)), #FFFBFE;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 40px;
    padding: 10px 24px;
    margin-right: 16px;
    border: none;
}

.trash{
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05)), #FFFBFE;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 40px;
    padding: 10px 24px;
    border: none;
}

.add{
    background: linear-gradient(0deg, #081E34, #081E34), #F0F0F0;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 14px;
    color: #F0F0F0;
    width: 52px;
    height: 52px;
    font-size: 36px;
    position: relative;
    left: 105rem;
    bottom: 0.4rem;
}

.add-window {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: 268px;
    height: 234px;
    background: #E4E6E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    position: absolute;
    left: 118rem;
    top: 4.2rem;
}

.add-task{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #151517;
    position: absolute;
    bottom: 125px;
}

.add-input{
    background: #FFFFFF;
    border-radius: 8px;
    width: 236px;
    height: 120px;
    display: flex;
    align-items: center;
    border: none;
    padding: 14px;
    position: relative;
    top: 35px;
}

.add-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 76px;
    height: 40px;
    background: linear-gradient(0deg, #081E34, #081E34), #FFFBFE;
    border-radius: 100px;
    margin-top: 10px;
    position: relative;
    top: 38px;
}

.add-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 9px 20px;
}

@media only screen and (max-width: 2000px) {
    .add {
      position: relative;
        left: 66rem;
        bottom: 0.4rem;
    }
    .add-window{
        position: absolute;
        left: 80rem;
        top: 4.2rem;
    }
  }

@media only screen and (max-width: 1800px) {
    .add {
      position: relative;
        left: 57rem;
        bottom: 0.4rem;
    }
    .add-window{
        position: absolute;
        left: 71rem;
        top: 4.2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .add {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 2rem;
        bottom: 0.4rem;
    }
    .add-window{
        width: 150px;
        height: 50px;
        position: absolute;
        left: 24rem;
        top: 23rem;
    }
    .add-task{
        font-size: 10px;
        position: absolute;
        bottom: -2.5rem;
    }
    .add-input{
        font-size: 10px;
        width: 120px;
        height: 5px;
        position: relative;
        top: 0.5rem;
        left: -0.2rem;
    }
    .add-button{
        width: 36px;
        height: 15px;
        position: relative;
        top: 0.25rem;
        left: -0.2rem;
    }
    .add-text{
        font-size: 8px;
        margin: -3px 7px;
    }
  }

  @media only screen and (max-width: 430px) {
    .add {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px;
        position: relative;
        left: -4rem;
        bottom: 5rem;
    }
    .add-window{
        width: 80px;
        height: 50px;
        position: absolute;
        left: 24rem;
        top: 12rem;
    }
    .add-input{
        font-size: 9px;
        width: 60px;
    }
  }